In [1]:
import pandas as pd

In [12]:
data = pd.read_csv("iris.csv")

In [13]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [14]:
data.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [15]:
data.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [16]:
d = {}
d_inv = {}
for ind,i in enumerate(data.species.unique()):
    d[i] = ind
    d_inv[ind] = i

In [17]:
print(d)
print(d_inv)

{'setosa': 0, 'versicolor': 1, 'virginica': 2}
{0: 'setosa', 1: 'versicolor', 2: 'virginica'}

In [18]:
data.species = data.species.apply(lambda x : d[x])

In [19]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [20]:
data.tail()

     sepal_length  sepal_width  petal_length  petal_width  species
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

In [21]:
data.to_csv('iris_prep.csv', index = False)