# Install

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 50.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=b5a966c9d25db868e15afc328c2e128ac5b2d3cef1b9f2da59da3fd4cb8ebc80
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd

# Start a session

In [3]:
spark = SparkSession.builder.appName("DataFramePractise").getOrCreate()

In [4]:
spark

# Load dataset

In [5]:
!wget https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

--2022-05-31 03:21:07--  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  58.89K  --.-KB/s    in 0.01s

2022-05-31 03:21:07 (5.03 MB/s) - ‘titanic.csv’ saved [60302/60302]

In [6]:
DATA_PATH = "titanic.csv"

In [7]:
df = spark.read.csv(DATA_PATH, inferSchema=True, header=True)
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

# Filter Operations

## Single Operations

In [8]:
df.filter("Pclass == 2").show()

+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|       Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|       237736|30.0708| null|       C|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|       248706|   16.0| null|       S|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|       244373|   13.0| null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|       239865|   26.0| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|       248698|   13.0|  D56|       S|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|   C.A. 24579|   10.5| null|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|        11668|   21.0| null|       S|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|SC/Paris 2123|41.5792| null|       C|
|         54|       1|     2|Faunthorpe, Mrs. ...|female|29.0|    1|    0|         2926|   26.0| null|       S|
|         57|       1|     2|   Rugg, Miss. Emily|female|21.0|    0|    0|   C.A. 31026|   10.5| null|       S|
|         59|       1|     2|West, Miss. Const...|female| 5.0|    1|    2|   C.A. 34651|  27.75| null|       S|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|29.0|    0|    0|   C.A. 29395|   10.5|  F33|       S|
|         71|       0|     2|Jenkin, Mr. Steph...|  male|32.0|    0|    0|   C.A. 33111|   10.5| null|       S|
|         73|       0|     2|Hood, Mr. Ambrose Jr|  male|21.0|    0|    0| S.O.C. 14879|   73.5| null|       S|
|         79|       1|     2|Caldwell, Master....|  male|0.83|    0|    2|       248738|   29.0| null|       S|
|         85|       1|     2| Ilett, Miss. Bertha|female|17.0|    0|    0|   SO/C 14885|   10.5| null|       S|
|         99|       1|     2|Doling, Mrs. John...|female|34.0|    0|    1|       231919|   23.0| null|       S|
|        100|       0|     2|   Kantor, Mr. Sinai|  male|34.0|    1|    0|       244367|   26.0| null|       S|
|        118|       0|     2|Turpin, Mr. Willi...|  male|29.0|    1|    0|        11668|   21.0| null|       S|
|        121|       0|     2|Hickman, Mr. Stan...|  male|21.0|    2|    0| S.O.C. 14879|   73.5| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
only showing top 20 rows

In [10]:
df.filter("Fare < 10").show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|  Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|  7.25| null|       S|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282| 7.925| null|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|  8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877|8.4583| null|       Q|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|  8.05| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406|7.8542| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649| 7.225| null|       C|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|          330923|8.0292| null|       Q|
|         27|       0|     3|Emir, Mr. Farred ...|  male|null|    0|    0|            2631| 7.225| null|       C|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|null|    0|    0|          330959|7.8792| null|       Q|
|         30|       0|     3| Todoroff, Mr. Lalio|  male|null|    0|    0|          349216|7.8958| null|       S|
|         33|       1|     3|Glynn, Miss. Mary...|female|null|    0|    0|          335677|  7.75| null|       Q|
|         37|       1|     3|    Mamee, Mr. Hanna|  male|null|    0|    0|            2677|7.2292| null|       C|
|         38|       0|     3|Cann, Mr. Ernest ...|  male|21.0|    0|    0|      A./5. 2152|  8.05| null|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546| 9.475| null|       S|
|         43|       0|     3| Kraeff, Mr. Theodor|  male|null|    0|    0|          349253|7.8958| null|       C|
|         45|       1|     3|Devaney, Miss. Ma...|female|19.0|    0|    0|          330958|7.8792| null|       Q|
|         46|       0|     3|Rogers, Mr. Willi...|  male|null|    0|    0| S.C./A.4. 23567|  8.05| null|       S|
|         48|       1|     3|O'Driscoll, Miss....|female|null|    0|    0|           14311|  7.75| null|       Q|
|         52|       0|     3|Nosworthy, Mr. Ri...|  male|21.0|    0|    0|      A/4. 39886|   7.8| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------+-----+--------+
only showing top 20 rows

In [13]:
df.filter(df["Fare"]<10).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|  Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|  7.25| null|       S|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282| 7.925| null|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|  8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877|8.4583| null|       Q|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|  8.05| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406|7.8542| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649| 7.225| null|       C|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|          330923|8.0292| null|       Q|
|         27|       0|     3|Emir, Mr. Farred ...|  male|null|    0|    0|            2631| 7.225| null|       C|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|null|    0|    0|          330959|7.8792| null|       Q|
|         30|       0|     3| Todoroff, Mr. Lalio|  male|null|    0|    0|          349216|7.8958| null|       S|
|         33|       1|     3|Glynn, Miss. Mary...|female|null|    0|    0|          335677|  7.75| null|       Q|
|         37|       1|     3|    Mamee, Mr. Hanna|  male|null|    0|    0|            2677|7.2292| null|       C|
|         38|       0|     3|Cann, Mr. Ernest ...|  male|21.0|    0|    0|      A./5. 2152|  8.05| null|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546| 9.475| null|       S|
|         43|       0|     3| Kraeff, Mr. Theodor|  male|null|    0|    0|          349253|7.8958| null|       C|
|         45|       1|     3|Devaney, Miss. Ma...|female|19.0|    0|    0|          330958|7.8792| null|       Q|
|         46|       0|     3|Rogers, Mr. Willi...|  male|null|    0|    0| S.C./A.4. 23567|  8.05| null|       S|
|         48|       1|     3|O'Driscoll, Miss....|female|null|    0|    0|           14311|  7.75| null|       Q|
|         52|       0|     3|Nosworthy, Mr. Ri...|  male|21.0|    0|    0|      A/4. 39886|   7.8| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------+-----+--------+
only showing top 20 rows

In [18]:
df.filter(~(df["Fare"]<10)).show()

+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|   Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----------+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|PC 17599|71.2833|        C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|  113803|   53.1|       C123|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|   17463|51.8625|        E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|  349909| 21.075|       null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|  347742|11.1333|       null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|  237736|30.0708|       null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1| PP 9549|   16.7|         G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|  113783|  26.55|       C103|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|  347082| 31.275|       null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|  248706|   16.0|       null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|  382652| 29.125|       null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|  244373|   13.0|       null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|  345763|   18.0|       null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|  239865|   26.0|       null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|  248698|   13.0|        D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|  113788|   35.5|         A6|       S|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|  349909| 21.075|       null|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|  347077|31.3875|       null|       S|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|   19950|  263.0|C23 C25 C27|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|PC 17601|27.7208|       null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----------+--------+
only showing top 20 rows

## Multiple Operations

In [15]:
df.filter("Fare < 25").filter("Pclass == 2").show()

+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|       Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|       248706|   16.0| null|       S|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|       244373|   13.0| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|       248698|   13.0|  D56|       S|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|   C.A. 24579|   10.5| null|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|        11668|   21.0| null|       S|
|         57|       1|     2|   Rugg, Miss. Emily|female|21.0|    0|    0|   C.A. 31026|   10.5| null|       S|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|29.0|    0|    0|   C.A. 29395|   10.5|  F33|       S|
|         71|       0|     2|Jenkin, Mr. Steph...|  male|32.0|    0|    0|   C.A. 33111|   10.5| null|       S|
|         85|       1|     2| Ilett, Miss. Bertha|female|17.0|    0|    0|   SO/C 14885|   10.5| null|       S|
|         99|       1|     2|Doling, Mrs. John...|female|34.0|    0|    1|       231919|   23.0| null|       S|
|        118|       0|     2|Turpin, Mr. Willi...|  male|29.0|    1|    0|        11668|   21.0| null|       S|
|        124|       1|     2| Webber, Miss. Susan|female|32.5|    0|    0|        27267|   13.0| E101|       S|
|        135|       0|     2|Sobey, Mr. Samuel...|  male|25.0|    0|    0|   C.A. 29178|   13.0| null|       S|
|        136|       0|     2|  Richard, Mr. Emile|  male|23.0|    0|    0|SC/PARIS 2133|15.0458| null|       C|
|        145|       0|     2|Andrew, Mr. Edgar...|  male|18.0|    0|    0|       231945|   11.5| null|       S|
|        150|       0|     2|Byles, Rev. Thoma...|  male|42.0|    0|    0|       244310|   13.0| null|       S|
|        151|       0|     2|Bateman, Rev. Rob...|  male|51.0|    0|    0|  S.O.P. 1166| 12.525| null|       S|
|        162|       1|     2|"Watt, Mrs. James...|female|40.0|    0|    0|   C.A. 33595|  15.75| null|       S|
|        179|       0|     2|  Hale, Mr. Reginald|  male|30.0|    0|    0|       250653|   13.0| null|       S|
|        182|       0|     2|    Pernot, Mr. Rene|  male|null|    0|    0|SC/PARIS 2131|  15.05| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
only showing top 20 rows

In [16]:
df.filter((df["Fare"] < 25) & (df["Pclass"] == 2)).show()

+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|       Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|       248706|   16.0| null|       S|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|       244373|   13.0| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|       248698|   13.0|  D56|       S|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|   C.A. 24579|   10.5| null|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|        11668|   21.0| null|       S|
|         57|       1|     2|   Rugg, Miss. Emily|female|21.0|    0|    0|   C.A. 31026|   10.5| null|       S|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|29.0|    0|    0|   C.A. 29395|   10.5|  F33|       S|
|         71|       0|     2|Jenkin, Mr. Steph...|  male|32.0|    0|    0|   C.A. 33111|   10.5| null|       S|
|         85|       1|     2| Ilett, Miss. Bertha|female|17.0|    0|    0|   SO/C 14885|   10.5| null|       S|
|         99|       1|     2|Doling, Mrs. John...|female|34.0|    0|    1|       231919|   23.0| null|       S|
|        118|       0|     2|Turpin, Mr. Willi...|  male|29.0|    1|    0|        11668|   21.0| null|       S|
|        124|       1|     2| Webber, Miss. Susan|female|32.5|    0|    0|        27267|   13.0| E101|       S|
|        135|       0|     2|Sobey, Mr. Samuel...|  male|25.0|    0|    0|   C.A. 29178|   13.0| null|       S|
|        136|       0|     2|  Richard, Mr. Emile|  male|23.0|    0|    0|SC/PARIS 2133|15.0458| null|       C|
|        145|       0|     2|Andrew, Mr. Edgar...|  male|18.0|    0|    0|       231945|   11.5| null|       S|
|        150|       0|     2|Byles, Rev. Thoma...|  male|42.0|    0|    0|       244310|   13.0| null|       S|
|        151|       0|     2|Bateman, Rev. Rob...|  male|51.0|    0|    0|  S.O.P. 1166| 12.525| null|       S|
|        162|       1|     2|"Watt, Mrs. James...|female|40.0|    0|    0|   C.A. 33595|  15.75| null|       S|
|        179|       0|     2|  Hale, Mr. Reginald|  male|30.0|    0|    0|       250653|   13.0| null|       S|
|        182|       0|     2|    Pernot, Mr. Rene|  male|null|    0|    0|SC/PARIS 2131|  15.05| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
only showing top 20 rows

In [17]:
df.filter((df["Fare"] < 25) | (df["Pclass"] == 2)).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|  D56|       S|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|          330923| 8.0292| null|       Q|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|          349909| 21.075| null|       S|
|         27|       0|     3|Emir, Mr. Farred ...|  male|null|    0|    0|            2631|  7.225| null|       C|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|null|    0|    0|          330959| 7.8792| null|       Q|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

# Select

In [11]:
df.filter("Fare < 10").select(["Name", "Age"]).show()

+--------------------+----+
|                Name| Age|
+--------------------+----+
|Braund, Mr. Owen ...|22.0|
|Heikkinen, Miss. ...|26.0|
|Allen, Mr. Willia...|35.0|
|    Moran, Mr. James|null|
|Saundercock, Mr. ...|20.0|
|Vestrom, Miss. Hu...|14.0|
|Masselmani, Mrs. ...|null|
|"McGowan, Miss. A...|15.0|
|Emir, Mr. Farred ...|null|
|"O'Dwyer, Miss. E...|null|
| Todoroff, Mr. Lalio|null|
|Glynn, Miss. Mary...|null|
|    Mamee, Mr. Hanna|null|
|Cann, Mr. Ernest ...|21.0|
|Ahlin, Mrs. Johan...|40.0|
| Kraeff, Mr. Theodor|null|
|Devaney, Miss. Ma...|19.0|
|Rogers, Mr. Willi...|null|
|O'Driscoll, Miss....|null|
|Nosworthy, Mr. Ri...|21.0|
+--------------------+----+
only showing top 20 rows